/*  your css code here. If applicable */
.card {
	background:#f1f1f1;
	text-align:center;
	margin: auto;
	height: 600px;
	width: 350px;
	box-shadow: 0px 3px 20px rgb(0 0 0/.2); /* rgb --> color, '0 0 0 / .2' --> opacity% */
	border-radius:5px;
    padding: 30px;
	
}
.card-img{
	margin-top:10px;
	width:90%
}
.heading{
	font-size: 65px;
	margin:0px;
}
.para{
	margin: 0px;
	font-weight: bold;
	font-size: 35px;
}
.button{
	color:white;
	font-size: 30px;
	background-color:#fe625a;
	border:none;
	border-radius:20px;
	padding:20px;
	margin:30px;
}